

body{
    margin: 0;
    padding: 0;
    font-family: 'Basic';
}
a{
    text-decoration: none;
}
/*header*/

.main-banner{
    width: 100%;
    display:block;
}
/*Main Nav*/
nav {
    position: fixed;
    width: 100%;
    background:#000;
}

header nav ul.navigtion {
    margin: 0;
    padding: 0;

}
header nav ul.navigtion li a {
 font-size: 16px;

}

/*logo*/
a.logo {
    font-size: 26px;
    color: #fff;
    border: 2px solid #fff;
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 100%;
    padding: 10px;
}